@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.table {
  width: 60vw !important;
  table-layout: fixed;
}

.detail-form{
  margin-top: 40px;
}

.detail-form, .detail-form input {
  text-align: center;
}

.create-form label, .detail-form label {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.create-form {
  width: 20vw;
}